<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>04F7F490-F094-4987-9FCD-493318D2874A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43E5154F-56A0-4B8E-B77F-B1603116C095</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0EEBD911-36A2-4570-9AEE-0EB72A6291E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCD27A4E-3E9B-41A6-B6D0-2C3A7543BE0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83188F8D-255B-43B1-A31B-3C3A6F507E20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6712975C-8851-49DC-8ADA-19A0953F0958</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B354935A-6E42-49BF-8FAB-C71113F0530B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F254B176-F8D2-4F52-A720-C86ABA014C96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Julien</string>
	<key>description</key>
	<string>Create new Google Docs, Sheets, Slides, or Forms in your Drive</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New Google Docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://docs.google.com/document/create</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>43E5154F-56A0-4B8E-B77F-B1603116C095</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>new doc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>New Google Doc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>04F7F490-F094-4987-9FCD-493318D2874A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://docs.google.com/spreadsheets/create</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F254B176-F8D2-4F52-A720-C86ABA014C96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>new sheet</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>New Google Sheet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B354935A-6E42-49BF-8FAB-C71113F0530B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://docs.google.com/presentation/create</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FCD27A4E-3E9B-41A6-B6D0-2C3A7543BE0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>new slide</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>New Google Slide</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0EEBD911-36A2-4570-9AEE-0EB72A6291E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://docs.google.com/forms/create</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6712975C-8851-49DC-8ADA-19A0953F0958</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>new form</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>New Google Form</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>83188F8D-255B-43B1-A31B-3C3A6F507E20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04F7F490-F094-4987-9FCD-493318D2874A</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>0EEBD911-36A2-4570-9AEE-0EB72A6291E8</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>43E5154F-56A0-4B8E-B77F-B1603116C095</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>6712975C-8851-49DC-8ADA-19A0953F0958</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>83188F8D-255B-43B1-A31B-3C3A6F507E20</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>B354935A-6E42-49BF-8FAB-C71113F0530B</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>F254B176-F8D2-4F52-A720-C86ABA014C96</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>FCD27A4E-3E9B-41A6-B6D0-2C3A7543BE0D</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
