<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2D767A46-B652-49BE-8A7B-6A7D0A5C2334</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C87FC7B1-7896-4C34-ABA5-A0D6573C3908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C87FC7B1-7896-4C34-ABA5-A0D6573C3908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30BD91D6-762C-4DC0-950D-A4F490DCBF15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Julien</string>
	<key>description</key>
	<string>Lock and put macbook into sleep</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Go to sleep</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go to Sleep</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D767A46-B652-49BE-8A7B-6A7D0A5C2334</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>5</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>30BD91D6-762C-4DC0-950D-A4F490DCBF15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>6</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>C87FC7B1-7896-4C34-ABA5-A0D6573C3908</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2D767A46-B652-49BE-8A7B-6A7D0A5C2334</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>30BD91D6-762C-4DC0-950D-A4F490DCBF15</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>C87FC7B1-7896-4C34-ABA5-A0D6573C3908</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
