<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.julien.leroymerlin.vpn</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2D767A46-B652-49BE-8A7B-6A7D0A5C2334</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF10B845-468E-4A88-A9D9-8E4C589E387C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9F808F8-7137-477C-B386-55180E413664</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF10B845-468E-4A88-A9D9-8E4C589E387C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF10B845-468E-4A88-A9D9-8E4C589E387C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60C1F1EE-757D-44A0-A7A5-7FF318B7255D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Julien</string>
	<key>description</key>
	<string>VPN LM</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VPN LM</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://connect.leroymerlin.fr/my.policy</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF10B845-468E-4A88-A9D9-8E4C589E387C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>subtext</key>
				<string>Connect to LM VPN</string>
				<key>text</key>
				<string>VPN Leroy Merlin</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D767A46-B652-49BE-8A7B-6A7D0A5C2334</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {

  var appUrl = "https://connect.leroymerlin.fr/my.policy";
  var browser = Application("Google Chrome");

  var tab, w, t;

  for (w = 0; w &lt; browser.windows.length; w++) {
    for (t = 0; t &lt; browser.windows[w].tabs.length; t++) {
      if (browser.windows[w].tabs[t].url().indexOf(appUrl) &gt;= 0) {
        tab = browser.windows[w].tabs[t];
      }
    }
  }

  if (! tab) {
    var me = Application.currentApplication();
    me.includeStandardAdditions = true;
    me.displayNotification("Please open the site in Chrome.", {withTitle: "https://connect.leroymerlin.fr not found"});
    return;
  }
  else {
    var me = Application.currentApplication();
    me.includeStandardAdditions = true;
    me.displayNotification("coucou");
    tab.url = "javascript:SubmitResult(0); return 1;";
  }

  if (["p", "pp", "play", "pause"].indexOf(argv[0]) &gt;= 0) {
    tab.url = "javascript:if(window.faw.isPlaying){window.faw.stop();}else{window.faw.play();}";
  } else if (["n", "next", "skip"].indexOf(argv[0]) &gt;= 0) {
    tab.url = "javascript:window.faw.skip();";
  } else if (["genre"].indexOf(argv[0] &gt;= 0)) {
    var channelId = argv[0].split(' ')[1];
    tab.url = "javascript:window.faw.channel(" + channelId + ");";
  }
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>60C1F1EE-757D-44A0-A7A5-7FF318B7255D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B9F808F8-7137-477C-B386-55180E413664</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2D767A46-B652-49BE-8A7B-6A7D0A5C2334</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>60C1F1EE-757D-44A0-A7A5-7FF318B7255D</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B9F808F8-7137-477C-B386-55180E413664</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>BF10B845-468E-4A88-A9D9-8E4C589E387C</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
